

.app_login {
  @include inner-containers();

  padding: 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  .login_logo {
    display: flex;
    justify-content: flex-start;
    margin: 1rem 0 0;
  
    img {
      width: 24.75px;
      height: 25px;
      margin-right: 8px;
    }
    img:last-child {
      width: 138.44px;
      height: 36px;
    }
  }

  .menu-container {
    margin: auto 0;

    .login_menu {
      margin-top: auto;
      margin-bottom: auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem 2rem 0;
  
      .login_img {
        width: 400px;
        height: auto;
        img {
          width: 100%
        }
      }
      
      .login_prompt {
        display: flex;
        flex-direction: column;;
        padding: 0 2rem 3rem 0;
        transform: scale(0.75);
  
        .login_welcome {
          display: flex;
          flex-direction: column;
          margin-bottom: 60px;
          h2 {
            font-family: $Avenir-bold;
            font-size: 40px;
            font-weight: 700;
            line-height: 54.64px;
            letter-spacing: -0.1rem;
            color: $blue
          }
          p {
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color: $light-blue
          }
        }
  
        .login_form {
          display: flex;
          flex-direction: column;
  
          input {
            margin-bottom: 24px;
            width: 447px;
            padding: 1rem 0.75rem;
            border: 2px solid rgba(84, 95, 125, 0.15);
            border-radius: 5px;
            font-family: $Avenir-regular;
            font-size: 14px;
            line-height: 19px;
            color: $light-blue;
  
            &::placeholder {
              color: $light-blue;
              opacity: 0.6;
            }
          }

          .input_wrapper {
            position: relative;
            display: flex;
            button {
              position: absolute;
              background-color: transparent;
              width: fit-content;
              right: 20px;
              top: 6px;
              font-family: $Avenir-regular;
              p {
                font-weight: 400;
              }
            }
          }

          p {
            font-family: $Avenir-bold;
            font-size: 12px;
            line-height: 16px;
            font-weight: 600;
            letter-spacing: 0.1rem;
            color: $green;
            margin-bottom: 30px;
          }
          button {
            width: 447px;
            padding: 1rem 0;
            background: $green;
            border: none;
            border-radius: 8px;
            color: #FFF;
            font-size: 14px;
            font-family: $Avenir-bold;
            line-height: 19px;
            letter-spacing: 0.1rem;
            cursor: pointer;
          }
  
        }
      }
    }
  }

}
