.dashboard_cardlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .dashboard_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}