
.app_dashboard {
  @include inner-containers();

  .dashboard_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    .dashboard_display_centering {
      @include justify-align();

      .dashboard_display {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
  
        .dashboard_users {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          padding: 3rem 2rem 2rem 0;
          h2 {
            @include h2-tag();
          }
        }
      }
    }
  }
}

.displayNone {
  display: none;
}