.app_dashboard {

  .dashboard_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    .dashboard_display {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}